/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: url(c.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.container {
    width: 90%;
    max-width: 1000px;
    padding: 20px;
    border-radius: 8px;
    overflow-x: auto;
    height: 50%;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: Times New Roman;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-size: 14px;
}

table th, table td {
    border: 2px solid black;
    padding: 5px;
    background: white;
}

table th {
    background-color: #f0f0f0;
    font-weight: bold;
    background: #3277f9;
}
